body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ffd700; /* Gold background color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#news-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-item {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    text-align: center;
}

.news-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.news-item h2 {
    font-size: 1.5em;
    color: #333;
}

.news-item p {
    color: #555;
    font-size: 1em;
}

#title{
    text-decoration: none;
    color: white;
}