@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height : 100vh;
    font-family: 'Poppins';
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image{
    position: absolute;
    width: 100%;
    z-index: -99;
    margin: 0;
}

nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span{
    font-size: 48px;
    color: #F62D13;
    font-family: 'Irish Grover';
}

nav ul{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
}

nav ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-family: Poppins;
    font-weight: bold;
}

.register{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 2px #F62D13;
    transition: 0.3s;
}

.register:hover{
    background-color: #F62D13;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #F62D13;
    transform: scale(0.5);
    transition: 0.3s;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.registration-form{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group-2{
    display: flex;
}

input{
    padding: 10px 30px 10px 10px;
    background-color: white;
    border: solid 1px #F62D13;
    border-radius: 15px;
    font-family: 'Poppins';
    transition: 0.3s;
    outline: none;
}

input:hover{
    background-color: rgb(241, 241, 241);
    transition: 0.3s;
}

input:focus{
    background-color: rgb(218, 218, 218);
    transition: 0.2s;
}

input::placeholder{
    font-family: Poppins;
}

.email{
    margin-right: 10px;
}

.gender-radio{
    display: flex;
}

.gender-radio label{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

form button{
    padding: 10px 30px;
    background-color: #F62D13;
    width: 200px;
    border: none;
    color: white;
    font-family: Poppins;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
}

form button:hover{
    background-color: #c22410;
    transition: 0.3s;
}

.radio-button:checked{
    background-color: #F62D13;
}

input[type="checkbox"]:checked{
    background-color: #F62D13;
}

footer{
    height: 180px;
    background-color: #212121;
    margin-top: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.footer-left div span{
    font-size: 20px;
}

.footer-left img{
    width: 20px;
}